@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

.web {
    display: flex;
    align-items: center;
    flex:1;

}

.web-option {
  
    margin-right: 16px;
   
}
.web-option a {
    text-decoration: none;
    color:#ffffff;
    display:flex;
    font-weight:600;
    font-family: 'Nunito';
    font-size: 16px;
    line-height: 28px;

} 
 .web-option:last-child {
     margin-right: 0px;
     
 }
