.Blog-card {
    flex: 1;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    margin: 16px 0px;
    padding: 6px 22px;
    background-color: #000;
    color: #b8c2cc;
   }



  .blog-right-side {
    text-align: left;
    
  }
  .blog-right-side  h4 {
    font-size:16px;
    margin-bottom:7px;
    margin-top:7px;
    cursor: pointer;
  }
  .blog-right-side  h4:hover {
    color: #0fccce;
  }
  .iconblog {
      font-size: 14px;
  }
  .blog-right-side p {
    color: #8795a1;
    font-family:"Segoe UI";
  }

  .blog-right-side a{
      text-decoration: none;
      color: #ccd6f6;
      
  }
  .blog-left-side h4{
    margin-bottom:5px;
    margin-top:7px;
    color:#b8c2cc;
    font-size: 12px;
  }


    @media only screen and (max-width: 720px) {
      .project-photo {
        width: 70%;
      }
      .project-card {
        flex-direction: column-reverse;
      }
      .project-info {
        margin-left: 0px;
        margin-top: 12px;
      }
      .project-tags {
        max-width: 90%;
  
      }
      .cardpara {
        font-size: 14px;
         line-height: 22px;
         margin-top: 12px;
         margin-bottom: 12px;
         text-align: left;
         margin-right:0px;
     }
     .projectGridBlog {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-gap: 11px;
    }
    }
  
  