.header {
    display:flex;
    /* background-color:aqua; */
    justify-content:space-between;
    flex: 1;
    padding:12px;
    position: relative;
    align-items:center;

}

.menu {
    /* background-color:blue; */
    display:flex;
    flex: 1;
    justify-content:flex-end;

}

.menu-icon {
    font-size:24px;
    color: #0fccce;
}

.mobile-menu {
    display:none;
}
.web-menu {
    display:flex;
}

.logo {
    display:flex;
    font-size:30px;
    font-family: Satisfy, cursive;
    font-weight:400;
    color: #0fccce;
    cursor: pointer;

}


@media only screen and (max-width: 720px) {
   .mobile-menu {
       display: flex;
   }
   .web-menu {
       display: none;
   }
   .logo {
       font-size:16px;

   }

}

@media only screen and (max-width: 512px) {
 
    .home {
        width: 100%;
    }


}
