.project-content {
  flex: 1;
  display: flex;
   justify-content: space-between;
   margin: 16px 0px;
   padding: 10px 15px 6px 15px;
   background-color:#1E262F;
   border-radius: 12px;
   /* color: #b8c2cc; */
   /* /* height: 350px; */
   /* width: 300px;  */
   font-family: 'Nunito';
 }


 .projIMG {
/* border-radius: 50%; */
/* border: 2px solid red; */
 }

 .projIMG img {
border-radius: 3px;
height: 100%;
  width: 100%;
 }

.right-side {
  text-align: left;
  }



.right-side  h4 {
  font-size:16px;
  margin-bottom:7px;
  margin-top:7px;
  cursor: pointer;
}
.right-side  h4:hover {
  color: #0fccce;
}
.right-side p {
  font-size:14px;
  margin-top:2px;
}
.left-side h4{
  
  margin-bottom:7px;
  margin-top:7px;
  font-size: 12px;
}
.project-links {
  margin-top: 6px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: end;
}

.projTwoLinks {
  display: flex;
  color:#ffffff;
  font-weight: 600;

}
 
.projNUM {
  margin-bottom: 4px;
  color:#ffffff;
  font-weight: 600;
  font-size: 16px;
}
  .project-info {
    margin-right: 24px;
  }
  

  
  .projTwoLinks a {
    text-decoration: none;
    color: #8795a1;
    font-size: 16px;
  }

  .link-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    padding: 22px 0px 7px 0px;
    border-radius: 4px;
    /* font-size: 12px; */
    margin-right: 8px;
    color: #FFFFFF;
    font-weight: 600;

  }
  .link-button:hover {
    color:#2B5CFF;
  }
  .link-button i:hover {
    color: #2B5CFF;
  }



  .link-button i {
    display: flex;
    align-items: center;
    margin-right: 4px;
    color: #ffffff;
    font-size:12px;
  }

   .projectGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 11px;
    padding-bottom: 1px;
    
  } 


  @media only screen and (max-width: 720px) {
    .project-photo {
      width: 70%;
    }
    .project-card {
      flex-direction: column-reverse;
    }
    .project-info {
      margin-left: 0px;
      margin-top: 12px;
    }
    .project-tags {
      max-width: 90%;

    }
    .cardpara {
      font-size: 14px;
       line-height: 22px;
       margin-top: 12px;
       margin-bottom: 12px;
       text-align: left;
       margin-right:0px;
   }
   .projectGrid {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr;
    grid-gap: 11px;
  }
  .right-side p {
    font-size:12px;
    margin-top:2px;
  }
   .right-side h4 {
     font-size: 12px; ;
   }
  .left-side h4{
    
    margin-bottom:7px;
    margin-top:7px;
    font-size:9px;
    margin-right: 0px;
    text-align:right;
  }

  .project-content {
    flex: 1;
    display: flex;
     justify-content: space-between;
     background-color: #fff;
     margin: 16px 0px;
     padding: 6px 13px;
     background-color: #000;
     color: #b8c2cc;
   }

  }













