.projects {
    display:flex;
    flex-direction:column;
    flex: 1;
    /* height:500px; */
    
}

.moreproject {

    background-color: #0E141B;
    padding: 8px 16px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 2px solid #617BEA;
    width: 10%;

  }
  .moreproject a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
  
  }

  