/* .projectGridBlog {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 11px;
  } */

  @media only screen and (max-width: 720px) {
   
.moreproject {

      background-color: #0E141B;
      padding: 7px 12px;
      font-size: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      border: 2px solid #617BFF;
      width: 15%;
    }
    .moreproject a {
      text-decoration: none;
      color:#ffffff;
      font-size: 12px;
    }
  
  }